/* startups.css */
/* ------------ */

/* start minimum css framework */

* { /* reset to avoid spacing issues */ 
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #eee;
	background-image: url(../images/bg.png); /* texture by Atle Mo http://subtlepatterns.com/retina-dust/ */
}

a, a:link, a:visited, a:hover, a:active {
	color: #000;
}

img {
	border: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.cf { /* clear floats to avoid scroll issues */
	overflow: auto;
}

.column {
	float: left;
	height: auto;
}

/* end minimum css framework */

/* layout & content */

.application {
	width: 100%;
	min-width: 880px;
}

.main {
	width: 100%;
}

.header {
	background-color: #333;
	background-image: url(../images/bg-header.png); /* texture by Tony Kinard http://subtlepatterns.com/iron-grip/ */
	text-align: center;
	position: relative;
	height: 280px;
	border-bottom: 1px solid #ccc;
}

.header .logo {
	padding: 70px 0 27px 0;
}

.header h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #ddd;
	line-height: 22px;
}

.header strong {
	color: #fff;
	font-weight: 600;
}

.header .en {
	font-size: 13px;
	color: #999;
}

.header .by-sancahub {
	position: absolute;
	right: 50px;
	top: 155px;
}

.startups {
	padding: 0 0 30px 0;
}

.startups ul {
	list-style: none;
}

.startups li a {
	float: left;
	width: 33%;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	color: #777;
	padding: 15px 0 25px 0;
	border: 1px solid #eee;
	text-decoration: none;
	background-color: #fff;
}

.join {
	height: 110px;
	background-color: #36d5d5;
	border-top: 1px solid #90e8e8;
	border-bottom: 1px solid #90e8e8;
	text-align: center;
}

.join p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;
	padding: 39px 0 0 0;
	color: #0d3e3e;
}

.join strong {
	font-weight: 600;
}

.footer {
	width: 100%;
	text-align: center;
	padding: 40px 0;
	border-top: 1px solid #efefef;
}

.footer p {
	font-size: 12px;
	line-height: 20px;
	color: #555;
	padding-bottom: 15px;
}