/* startups.css */
/* ------------ */

/* start minimum css framework */

* { /* reset to avoid spacing issues */ 
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #000;
}

a, a:link, a:visited, a:hover, a:active {
	color: #000;
}

img {
	border: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.cf { /* clear floats to avoid scroll issues */
	overflow: auto;
}

.column {
	float: left;
	height: auto;
}

/* end minimum css framework */

/* layout & content */

.application {
	width: 100%;
	min-width: 880px;
}

.main {
	width: 100%;
}

.header {
	height: 112px;
	background-color: #292929;
	background-image: url(../images/bg-header.png);
	text-align: center;
}

.header h1 {
	color: #f3f3f3;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 56px;
	padding: 15px 0 0 0;
	text-transform: lowercase;
}

.header strong {
	color: #fff;
	font-weight: 300;
}

.header span {
	color: #999;
	font-size: 30px;
}

.intro {
	height: 110px;
	background-color: #36d5d5;
	border-top: 1px solid #90e8e8;
	text-align: center;
	position: relative;
}

.intro h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	padding: 28px 0 0 0;
	color: #0d3e3e;
}

.intro strong {
	font-weight: 600;
}

.intro .en {
	font-size: 18px;
	font-style: italic;
}

.intro .by-sancahub {
	position: absolute;
	right: 30px;
	top: 62px;
}

.startups {
	padding: 80px 0 30px 0;
}

.startups ul {
	list-style: none;
}

.startups li {
	float: left;
	width: 33%;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	color: #777;
	padding: 15px 0 25px 0;
	border: 1px solid #eee;
}

.join {
	height: 110px;
	background-color: #36d5d5;
	border-bottom: 1px solid #90e8e8;
	text-align: center;
}

.join p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;
	padding: 39px 0 0 0;
	color: #0d3e3e;
}

.join strong {
	font-weight: 600;
}

.footer {
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #eee;
	border-top: 1px solid #efefef;
}

.footer p {
	font-size: 12px;
	line-height: 20px;
	color: #555;
	padding-bottom: 15px;
}